.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
  border: 1px solid #a5a5a5;
  padding: 10px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  background-color: #e2f3ff;
}

ul {
  list-style: none;
  height: 60vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

ul li {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #a7a7a7;
  padding: 10px;
}

.character,
.character-details,
.character-info {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
}

img {
  width: 100px;
  border-radius: 20px;
}

.select-button {
  width: 30px;
  height: 30px;
}

.character-list {
  max-width: 600px;
}

.remove-button {
  border-radius: 5px;
  background-color: #b6b6b6;
  color: #ffffff;
  padding: 5px;
}

.selected-characters {
  margin: 20px;
  display: flex;
  gap: 5px;
  max-width: 750px;
  flex-wrap: wrap;
}

.selected-character {
  border: 1px solid #808080;
  border-radius: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  display: flex;
  gap: 5px;
  align-items: center;
}

input {
  border-radius: 10px;
  padding: 10px;
}