@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary: #3064D0;
  --secondary: #F8F8F8;
  --background: #FFFFFF;
  --text: #000000;
  --border: #C6C3BE;
  --scroll: #E9E7E8;
}