:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  background-color: rgba(200, 200, 200, 0.2);
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  height: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
input {
  border-radius: 8px;
  border: solid 1px;
}

.search {
  flex-grow: 1;
}
#search {
  width: 98%;
  height: 35px;
}
button {
  border-radius: 8px;
  border: solid 1px;
  height: 35px;
  background-color: cornflowerblue;
  font-size: 20px;
  color: white;
}

button:hover {
  background-color: chocolate;
}
